@import url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Inter:wght@400;500;600;700&family=Poppins:wght@300;400;500&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap");

/* Global Variables */
:root {
  --theme-color: #1c1a19;
  --toolbar-color: #3c3a39;
  --primary-1: #ff6b00;
  --primary-4: #fff5e1;
  --neutral: #dbd8d7;
  --warning-color: #f55800;
  --active-color: #e05304;
  --neutral9: #f4f1f0;
  --white: #fff;
}

.color-white {
  color: var(--white);
}

.btn-primary {
  background-color: var(--warning-color);
  font-family: Inter, sans-serif;
  color: var(--white);
  padding: 12px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.btn-primary:hover {
  background: var(--primary-4);
  color: var(--warning-color);
  border: 1px solid var(--warning-color);
}

.btn-primary:active {
  background-color: var(--active-color);
  color: var(--neutral9);
}

.btn-primary:disabled {
  background-color: var(--neutral9);
  color: #5b5957;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
}

p {
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-family: Inter, sans-serif;
}

li {
  list-style-type: none;
}

ul {
  display: grid;
  grid-template-columns: 16% 18% 30% 18%;
  column-gap: 10px;
  padding-left: 0;
}

ul li {
  text-align: center;
  font-weight: 500;
}

.d-flex {
  display: flex;
}

.flex-dir-col {
  flex-direction: column;
}

.d-grid {
  display: grid;
}

.fw-normal {
  font-weight: normal;
}

/* Code */

.multi-poste p,
.languages > li {
  font-size: 16px;
  line-height: 24px;
}

.nav-list,
.nav-item .multi-poste p,
.languages > li,
.skills-language h4,
.contact-title {
  font-family: Inter, sans-serif;
}

.nav-item {
  font-size: 14px;
  font-weight: 400;
  display: none;
  order: 2;
  justify-self: flex-end;
  margin-left: 30px;
  transition: transform 0.8s ease;
}

.nav-item:hover {
  transform: scale(0.8);
}

.nav-item a {
  transition: all 0.2s;
}

.nav-item a:hover {
  color: var(--active-color);
  text-shadow: 0.5px 0.5px var(--white);
}

.nav-list {
  background: var(--toolbar-color);
  flex-wrap: wrap;
  padding: 5px 25px;
  height: 10vh;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 700;
  z-index: 3;
  margin: 0;
}

.content-title {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  text-transform: capitalize;
  color: var(--primary-4);
}

.toggle {
  order: 1;
}

.nav-item:active {
  display: block;
}

.black-section {
  background: var(--theme-color);
  min-height: 100vh;
  padding: 24px;
}

.headline-container {
  margin-top: 50px;
  align-self: center;
}

.section-title {
  color: var(--primary-1);
  font-family: Crete Round, sans-serif;
  text-transform: capitalize;
  font-size: 3rem;
  letter-spacing: 0.1rem;
}

.headline-title > h2 {
  margin: 0;
  letter-spacing: 3px;
}

.body {
  font-family: Poppinsn, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 30px;
  max-width: 70vh;
  padding-right: 50px;
}

.social-icon {
  padding: 0;
  width: 200px;
  left: 24px;
  top: 430px;
}

.social-item {
  margin-right: 20px;
}

.image-headline {
  max-height: 45vh;
}

.image-headline img {
  position: relative;
  width: 550px;
  height: 550px;
  left: 35vw;
  top: -40vw;
}

.projects {
  position: relative;
}

.projects-container {
  color: #212121;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 24px;
}

.pro-title,
.intru-title {
  font-family: Crete Round, sans-serif;
  align-self: flex-start;
  font-weight: 400;
}

.pro-title {
  font-size: 3rem;
  line-height: 40px;
  width: 400px;
}

.underline {
  background-color: #212121;
  height: 1px;
  min-width: calc(375px - 24px);
}

.multi-poste {
  margin-top: 80px;
}

.intru-title {
  font-size: 32px;
}

.skills-language li {
  min-width: 200px;
}

.multi-poste ul li {
  border: 1px solid #212121;
}

.btn-project {
  width: 125px;
}

.cards-container {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.card-item {
  position: relative;
  background-image: url(./image_icons/project_item.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 550px;
  transition: transform 1s ease-out;
}

.card-item:hover {
  transform: scale(0.9);
}

.card {
  padding: 36px;
  padding-top: 32%;
}

.card > h3 {
  font-family: Crete Round, sans-serif;
  font-size: 32px;
  line-height: 44px;
  padding-top: 40px;
  padding-bottom: 0;
}

.card .card-languages {
  grid-template-columns: 20% 35% 22%;
}

.card .card-languages li {
  background-color: rgba(255, 255, 255, 0.24);
  border: none;
}

.card-item .btn-card {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* About section */

.about-section,
.about-header {
  display: flex;
  flex-direction: column;
}

.about-header {
  padding: 24px;
}

.about-title {
  font-size: 3.5rem;
  width: 100%;
}

.about-title > h2 {
  margin-bottom: 10px;
}

.btn-about {
  width: 50%;
  padding: 20px;
  font-size: 17px;
}

.image-about img {
  position: relative;
  left: 60vw;
  top: 0;
}

.about-under {
  background-color: var(--white);
  align-self: center;
  height: 1px;
  min-width: 90%;
  margin: 50px;
}

.skills-container {
  grid-template-columns: repeat(1, 45% [col-start]);
  justify-content: center;
  align-content: center;
}

.skill-title h3 {
  font-family: InaiMathi, sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  margin-left: 30px;
}

.skills-language h4 {
  font-weight: normal;
  font-size: 22px;
}

/* End About section */

/* Contact section */

.contact-container {
  margin: 15vh 24px;
}

.contact-title {
  color: #172b4d;
  font-size: 2.5rem;
  line-height: 43px;
  text-align: center;
  padding-bottom: 20px;
}

.contact-container input {
  outline: 0;
  border-width: 0 0 1px;
  border-color: #dbd8d7;
  box-sizing: border-box;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  margin-top: 39px;
  height: 30px;
  padding: 14px;
  font-family: Inter, sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
}

.contact-container textarea {
  border: none;
  background-color: #fbf8f7;
  height: 114px;
}

.contact-btn {
  width: 131px;
  height: 48px;
  font-size: 17px;
  align-self: center;
  margin: 20px 0;
}

.footer {
  border-top: 1px solid #dfe1e6;
  justify-content: center;
}

.footer .social-icon {
  align-self: center;
  margin-bottom: 0;
}

.footer .footer-bar {
  text-align: center;
  margin-top: 0;
}

/* End Contact section */

@keyframes scale {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(2.3);
    font-size: 20px;
  }
}

.logo {
  animation-duration: 3s;
  animation-name: rotate;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
    font-size: 20px;
  }
}

/* Media queries */

@media all and (min-width: 992px) {
  .nav-list,
  .black-section,
  .projects,
  .about-section,
  .contact-section {
    padding: 0 120px;
  }

  .nav-item {
    display: block;
    width: auto;
    order: 1;
  }

  .logo {
    order: 0;
  }

  .headline-section {
    flex-direction: row;
    background-image: url("./image_icons/desctop__images/desktop-header.svg");
    background-repeat: no-repeat;
    background-position: top right -10%;
    background-size: 700px 700px;
  }

  .headline-container {
    width: 50%;
  }

  .headline-content .social-icon {
    position: absolute;
    top: 350px;
    flex-direction: column;
    width: 100px;
  }

  .headline-content .social-icon .social-item {
    margin-bottom: 20px;
  }

  .projects-title {
    align-items: center;
  }

  .projects-title .underline,
  .contact-container form {
    flex: 1;
  }

  .multi-poste {
    height: 80vh;
  }

  .multi-poste img {
    width: 300vh;
    margin-right: 24px;
  }

  .toggle,
  .card-item:nth-child(n + 2) .btn-card,
  .card-item:nth-child(1) .card,
  .image-headline,
  .footer .footer-bar {
    display: none;
  }

  .card-item:nth-child(1) {
    background-image: url("./image_icons/desctop__images/backgroundImg-card.svg");
  }

  .card-item:nth-child(3),
  .card-item:nth-child(6) {
    background-image: url("./image_icons/desctop__images/backgroundImg-card3.svg");
  }

  .card-item:nth-child(2),
  .card-item:nth-child(5) {
    background-image: url("./image_icons/desctop__images/backgroundImg-card2.svg");
  }

  .about-container,
  .contact-container,
  .multi-poste,
  .projects-title {
    display: flex;
    flex-direction: row;
  }

  .about-header {
    width: 35%;
  }

  .image-about img {
    position: relative;
    left: 25vw;
    top: 8vh;
  }

  .about-header button {
    padding: 10px;
    width: fit-content;
  }

  .skills-container {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 3rem;
  }

  .contact-container h3 {
    width: 40%;
    margin-right: 40px;
    text-align: left;
  }

  .contact-container form ul li:nth-child(4) {
    align-self: flex-start;
  }
}
