@import url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Inter:wght@400;500;600;700&family=Poppins:wght@300;400;500&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap");

/* Global Variables */
:root {
  --theme-color: #1c1a19;
  --toolbar-color: #3c3a39;
  --primary-1: #ff6b00;
  --primary-4: #fff5e1;
  --neutral: #dbd8d7;
  --warning-color: #f55800;
}

.color-white {
  color: #fff;
}

.btn-primary {
  background-color: var(--warning-color);
  color: #fff;
  padding: 12px;
  font-family: Inter, sans-serif;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.btn-primary:hover {
  background: var(--primary-4);
  color: var(--warning-color);
  border: 1px solid var(--warning-color);
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}

li {
  list-style-type: none;
}

ul {
  display: grid;
  grid-template-columns: 80px 80px 110px 80px;
  column-gap: 10px;
  padding-left: 0;
}

ul li {
  text-align: center;
  font-weight: 500;
}

.d-flex {
  display: flex;
}

.flex-dir-col {
  flex-direction: column;
}

.fw-normal {
  font-weight: normal;
}

/* Code */
.nav-bar {
  background: var(--toolbar-color);
  padding: 0 25px;
  height: 10vh;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  z-index: 1;
}

.log,
.content-title {
  font-family: Roboto, sans-serif;
  font-weight: bold;
}

.black-section {
  background: var(--theme-color);
  width: 100%;
  min-height: 70vh;
}
.headline-container {
  margin-top: 80px;
  margin-bottom: 0px;
}
.section-title {
  color: var(--primary-1);
  font-family: Crete Round, sans-serif;
  text-transform: capitalize;
  font-size: 3rem;
  letter-spacing: 0.1rem;
  padding-top: 100px;
}

.headline-title > h2 {
  margin: 0;
  padding-left: 24px;
}

.headline-content {
  margin: 0px 24px;
}

.body {
  font-family: Poppinsn, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.headline-content .body {
  padding-right: 60px;
}

.content-title {
  font-size: 24px;
  line-height: 32px;
  text-transform: capitalize;
  color: var(--primary-4);
}

.social-icon {
  justify-content: space-between;
  padding: 0;
  width: 200px;
  height: 40px;
  left: 24px;
  top: 430px;
}
.image-headline {
  max-height: 45vh;
}
.image-headline img {
  position: relative;
  width: 550px;
  height: 550px;
  left: 35vw;
  top: -40vw;
}
.projects {
  position: relative;
}

.projects-container {
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 24px;
}

.projects-title {
  color: #212121;
  max-width: 100%;
}

.pro-title,
.intru-title {
  font-family: Crete Round, sans-serif;
  align-self: flex-start;
  font-weight: 400;
}

.pro-title {
  font-size: 3rem;
  line-height: 40px;
  width: 400px;
}

.underline {
  background-color: #212121;
  height: 1px;
  min-width: calc(375px - 24px);
}

.multi-poste {
  margin-top: 80px;
}

.intru-title {
  font-size: 32px;
}

.skills-language li {
  min-width: 200px;
}

.multi-poste p,
.languages > li {
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.multi-poste ul li {
  border: 1px solid #212121;
}

.btn-project {
  width: 125px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(1, 100% [col-start]);
}

.card-item {
  position: relative;
  background-image: url(./image_icons/project_item.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 550px;
}

.card {
  padding: 36px;
  padding-top: 32%;
}

.card > h3 {
  font-family: Crete Round, sans-serif;
  font-size: 32px;
  line-height: 44px;
  padding-top: 40px;
  padding-bottom: 0;
}

.card > p {
  top: 150px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 24px;
  padding-top: 0;
}

.card .card-languages li {
  background-color: rgba(255, 255, 255, 0.24);
  border: none;
}

.card-item .btn-card {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* About section */

.about-section,
.about-header {
  display: flex;
  flex-direction: column;
}

.about-header {
  padding: 24px;
}

.about-title {
  font-size: 3.5rem;
  width: 100%;
}

.about-title > h2 {
  margin-bottom: 10px;
}

.about-header > p {
  margin-top: 0;
  padding: 20px 0;
}

.btn-about {
  width: 50%;
  padding: 20px;
  font-size: 17px;
}

.image-about img {
  position: relative;
  left: 60vw;
  top: 0px;
}

.about-under {
  background-color: #fff;
  align-self: center;
  height: 1px;
  min-width: 90%;
  margin: 50px;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(1, 45% [col-start]);
  justify-content: center;
  align-content: center;
}

.skill-title h3 {
  font-family: InaiMathi, sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  margin-left: 30px;
}

.skills-language h4 {
  font-family: Inter, sans-serif;
  font-weight: normal;
  font-size: 22px;
}

/* End About section */

/* Media queries */

@media and (min-width: 800px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
